@import './variables.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro';
  font-weight: 400;
}

html,
body {
  overflow: hidden;
  background: $background;
}

a {
  text-decoration: none;
  color: $white;
}
