<div class="Content">
  @if (faculty()) {
    <div class="ContentHeader">
      <h1 class="ContentHeaderHeading">
        {{ faculty().naziv }} ({{ faculty().skraceno }})
      </h1>
      @if (userService.isDean()) {
        <img
          (click)="openEdit()"
          class="ContentHeaderEdit"
          src="../../../assets/icons/icons8-edit-48.png"
        />
      }
    </div>
    <hr class="ContentSeparator" />
    <div class="ContentFaculty">
      <img
        class="ContentFacultyImg"
        [src]="'http://localhost:5000/assets/' + faculty().logo"
      />
      <div class="ContentFacultyInfo">
        <label class="ContentFacultyInfoText">{{ faculty().opis }}</label>
      </div>
    </div>
    <hr class="ContentSeparator" />
    <app-map
      [latLng]="{ lat: faculty().lokacija.lat, lng: faculty().lokacija.long }"
    ></app-map>
    <hr class="ContentSeparator" />
    <div class="ContentHeader">
      <h2 class="ContentHeaderHeading">Departments</h2>
      @if (userService.isDean()) {
        <img
          (click)="openEditDepartment()"
          class="ContentHeaderEdit"
          src="../../../assets/icons/icons8-edit-48.png"
        />
      }
    </div>
    <div class="ContentDepartments">
      @for (department of faculty()?.katedre; track department?.id) {
        <app-department-card [department]="department"></app-department-card>
      }
    </div>

    <hr class="ContentSeparator" />
  } @else {
    <h1>Loading...</h1>
  }
</div>
