<button (click)="userMenu.set(!this.userMenu())" class="User">
  <img class="UserImg" [src]="'http://localhost:5000/assets/' + user().slika" />
</button>
@if (userMenu()) {
  <div class="List">
    <label class="ListItemNoHover">{{ user().ime }} {{ user().prezime }}</label>
    <a
      class="ListItem"
      routerLinkActive="active"
      [routerLink]="['profile', user().id]"
      (click)="userMenu.set(!this.userMenu())"
    >
      Profile
    </a>
    <hr class="ListDivider" />
    <a class="ListItem" (click)="auth.logout()"> Log out </a>
  </div>
}
