<div class="Content">
  @if (department()) {
    <div class="ContentHeader">
      <h1 class="ContentHeaderHeading">{{ department().naziv }}</h1>
      @if (isUserLeader()) {
        <img
          (click)="openEdit()"
          class="ContentHeaderEdit"
          src="../../../assets/icons/icons8-edit-48.png"
        />
      }
    </div>
    <hr class="ContentSeparator" />
    <div class="ContentFaculty">
      <div class="ContentFacultyInfo">
        <label class="ContentFacultyInfoText"
          >Short : {{ department().naziv }}</label
        >
        <label class="ContentFacultyInfoText"
          >Description: {{ department().opis }}</label
        >
      </div>
    </div>
    <hr class="ContentSeparator" />

    <div class="ContentHeader">
      <h2 class="ContentHeaderHeading">Departments</h2>
    </div>
    <div class="ContentDepartments">
      @for (course of department()?.kolegiji; track course?.id) {
        <app-course-card
          [course]="course"
          [clickable]="tokenService.exists()"
        ></app-course-card>
      }
    </div>
    <hr class="ContentSeparator" />
    <div class="ContentHeader">
      <h2 class="ContentHeaderHeading">Workers</h2>
    </div>

    <div class="ContentUsers">
      @for (user of department()?.djelatnici; track user?.id) {
        <app-user-card
          [user]="user"
          [clickable]="tokenService.exists()"
        ></app-user-card>
      }
    </div>

    <hr class="ContentSeparator" />
  } @else {
    <h1>Loading...</h1>
  }
</div>
