<div class="Content">
  @if (department()) {
    <div class="ContentHeader">
      <h1 class="ContentHeaderHeading">{{ department().naziv }}</h1>
      @if (isUserLeader()) {
        <img
          (click)="openEdit()"
          class="ContentHeaderEdit"
          src="../../../assets/icons/icons8-edit-48.png"
        />
      }
    </div>
    <hr class="ContentSeparator" />
    <div class="ContentFaculty">
      <div class="ContentFacultyInfo">
        <label class="ContentFacultyInfoText">{{ department().opis }}</label>
      </div>
    </div>
    <hr class="ContentSeparator" />

    <div class="ContentHeader">
      <h2 class="ContentHeaderHeading">Courses</h2>
      @if (isUserLeader()) {
        <img
          (click)="openEditCourses()"
          class="ContentHeaderEdit"
          src="../../../assets/icons/icons8-edit-48.png"
        />
      }
    </div>
    <div class="ContentDepartments">
      @for (course of department()?.kolegiji; track course?.id) {
        <div class="Together">
          <app-course-card
            [course]="course"
            [clickable]="tokenService.exists()"
          ></app-course-card>
          @if (isUserLeader()) {
            <app-button
              [title]="'worker from department'"
              (query)="deleteCourse(course.id)"
            ></app-button>
          }
        </div>
      }
    </div>
    <hr class="ContentSeparator" />
    <div class="ContentHeader">
      <h2 class="ContentHeaderHeading">Workers</h2>
      @if (isUserLeader() || userService.isDean()) {
        <img
          (click)="openEditWorkers()"
          class="ContentHeaderEdit"
          src="../../../assets/icons/icons8-edit-48.png"
        />
      }
    </div>

    <div class="ContentUsers">
      @for (user of department()?.djelatnici; track user?.id) {
        <div class="ContentUsersUser">
          <app-user-card
            [user]="user"
            [clickable]="tokenService.exists()"
          ></app-user-card>
          <label>{{ user.tip }}</label>
          @if (isUserLeader()) {
            <app-button
              [title]="'worker from department'"
              (query)="deleteWorker(user.id)"
            ></app-button>
          }
        </div>
      }
    </div>

    <hr class="ContentSeparator" />
  } @else {
    <h1>Loading...</h1>
  }
</div>
