<div class="Course">
  <div class="CourseHeader">
    <h1>{{ course()?.naziv }}</h1>
    <div class="CourseHeaderNav">
      <button
        class="CourseHeaderNavItem"
        [class.active]="page() === 0"
        (click)="setPage(0)"
      >
        Course
      </button>
      <button
        class="CourseHeaderNavItem"
        [class.active]="page() === 1"
        (click)="setPage(1)"
      >
        Participants
      </button>
      <button
        class="CourseHeaderNavItem"
        [class.active]="page() === 2"
        (click)="setPage(2)"
      >
        Grades
      </button>
    </div>
  </div>
  <hr />
  <div class="CourseContent">
    @if (page() === 0) {
      @for (sekcija of course()?.sekcije; track sekcija) {
        <div>{{ sekcija.naziv }}</div>

        @for (sadrzaj of sekcija.sadrzaj; track sadrzaj) {
          <a href="{{ sadrzaj.vrijednost.referenca }}" target="_blank">{{
            sadrzaj.naziv
          }}</a>
        }
      } @empty {
        <h1>Nema sekcija na kolegiju</h1>
      }
    } @else if (page() === 1) {
      <app-student-participants
        [participants]="participants()"
      ></app-student-participants>
    } @else {
      <app-student-grades></app-student-grades>
    }
  </div>
</div>
