@import '../../../../styles/variables.scss';

:host {
  width: 100vw;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 10px 10px;
}

.Course {
  background: $white;
  width: 80%;
  border-radius: 8px;
  height: 100%;
  padding: 15px;

  &Header {
    padding: 0, 20px;

    &Nav {
      height: 50px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding: 5px 0;

      &Item {
        border: none;
        outline: none;
        background: $background;
        min-width: 100px;
        transition: linear .2s;

        &:hover {
          cursor: pointer;
          border: 1px solid $orange;
        }
      }
    }
  }

  &Content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
  }
}

a {
  color: $black;
  padding: 10px;
  border: 1px solid $background;

}

.active {
  border: 1px solid $orange;
}
