<div class="Course">
  <div class="CourseHeader">
    <div class="CourseHeaderHeading">
      <h1>{{ course()?.naziv }}</h1>
      <h3>{{ course()?.skraceno }}</h3>
    </div>
    <div class="CourseHeaderNav">
      <button
        class="CourseHeaderNavItem"
        [class.active]="page() === 0"
        (click)="setPage(0)"
      >
        Course
      </button>
      <button
        class="CourseHeaderNavItem"
        [class.active]="page() === 1"
        (click)="setPage(1)"
      >
        Participants
      </button>
    </div>
  </div>
  <hr />
  <div class="CourseContent">
    @if (page() === 0) {
      @for (sekcija of course()?.sekcije; track sekcija) {
        <app-section [sekcija]="sekcija"></app-section>
      } @empty {
        <h1>Nema sekcija na kolegiju</h1>
      }
    } @else if (page() === 1) {
      <app-worker-participants
        [participants]="participants()"
      ></app-worker-participants>
    }
  </div>
</div>
