<div class="Content">
  <div class="ContentHeader">
    <div class="ContentHeaderHeading">
      <h1>{{ course()?.naziv }}</h1>
      <h3>{{ course()?.skraceno }}</h3>
    </div>
    <div class="ContentHeaderNav">
      <button
        class="ContentHeaderNavItem"
        [class.active]="page() === 0"
        (click)="page.set(0)"
      >
        Content
      </button>
      <button
        class="ContentHeaderNavItem"
        [class.active]="page() === 1"
        (click)="page.set(1)"
      >
        Participants
      </button>
      @if (user.isWorker()) {
        <button
          class="ContentHeaderNavItem"
          [class.active]="page() === 2"
          (click)="openEditSection()"
        >
          Add section
        </button>
        <button
          class="ContentHeaderNavItem"
          [class.active]="page() === 2"
          (click)="openEditCourse()"
        >
          Edit course
        </button>
      }
    </div>
  </div>
  <hr />
  <div class="ContentPage">
    @if (page() === 0) {
      @for (sekcija of course()?.sekcije; track sekcija.id) {
        <app-section
          [isWorker]="user.isWorker()"
          [sekcija]="sekcija"
          (query)="get($event)"
        ></app-section>
      } @empty {
        <h1>Nema sekcija na kolegiju</h1>
      }
    } @else if (page() === 1) {
      <app-participants [course]="course().id"></app-participants>
    }
  </div>
</div>
