<div class="Content">
  <div class="ContentHeader">
    <h1 class="ContentHeaderHeading">Profile</h1>
    @if (isCurrenUser()) {
      <img
        (click)="openEdit()"
        class="ContentHeaderEdit"
        src="../../../assets/icons/icons8-edit-48.png"
      />
    }
  </div>

  <div class="ContentUser">
    <img
      class="ContentUserImg"
      loading="lazy"
      [ngSrc]="user().slika"
      width="300"
      height="300"
    />
    <div class="ContentUserInfo">
      <label class="ContentUserInfoText">Name: {{ user().ime }} </label>
      <label class="ContentUserInfoText">Surname: {{ user().prezime }}</label>
      <label class="ContentUserInfoText">Email: {{ user().email }}</label>
      @if (user().uloga === "Student") {
        <label class="ContentUserInfoText"
          >Short name: {{ user().dodatno.nadimak }}</label
        >
      } @else {
        <label class="ContentUserInfoText"
          >Location: Room {{ user().dodatno.kabinet }}</label
        >
      }
      <label class="ContentUserInfoText">Description: {{ user().opis }}</label>
    </div>
  </div>

  <hr class="ContentSeparator" />
  <div class="ContentHeader">
    <h2 class="ContentHeaderHeading">Faculty</h2>
  </div>
  <div class="ContentFaculty">
    <img
      class="ContentFacultyImg"
      loading="lazy"
      [ngSrc]="user().fakultet.logo"
      width="300"
      height="300"
    />
    <div class="ContentFacultyInfo">
      <label class="ContentFacultyInfoText">{{ user().fakultet.opis }}</label>
    </div>
  </div>

  <hr class="ContentSeparator" />
  @if (user().uloga !== "Student") {
    <div class="ContentHeader">
      <h2 class="ContentHeaderHeading">Departments</h2>
    </div>
    <div class="ContentCourses">
      @for (department of user().katedre; track department.id) {
        <app-department-card [department]="department"></app-department-card>
      }
    </div>
    <hr class="ContentSeparator" />
  }

  <div class="ContentHeader">
    <h2 class="ContentHeaderHeading">Courses</h2>
  </div>

  <div class="ContentCourses">
    @for (course of courses(); track course.id) {
      <app-course-card [course]="course"></app-course-card>
    }
  </div>

  <hr class="ContentSeparator" />
</div>
