@import '../../../styles/variables.scss';

.Section {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &Header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    user-select: none;
    justify-content: space-between;
    background: rgba($orange, .2);
    padding: 10px;
    border-radius: 8px;

    &Left {
      display: flex;
      flex-direction: row;
      gap: 10px;

      &Closable {
        margin: auto 0;
      }
    }

    &:hover {
      cursor: pointer;
    }

    &Right {
      display: flex;
      flex-direction: row;
      gap: 10px;

      &Edit {
        width: 24px;
        height: 24px;
        margin: auto 0;
        margin-left: auto;
      }
    }
  }

  &Content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    img {
      margin: 0 auto;
      width: 24px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &Separator {
    border: 1px solid $gray;
    opacity: .6;
    width: 80%;
    margin: 0 auto;
  }
}

.blur {
  opacity: .3;
}
