@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

@include layout() {
  &Section {
    border: 1px solid $background;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &Items {
      display: flex;
      display: flex;
      padding: 0 auto;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
      align-items: stretch;
      height: auto;

    }
  }

}
