<div class="Content">
  @if (userService.isWorker()) {
    <button (click)="openEdit()">Add user</button>
  }
  @for (participant of participants(); track participant.id) {
    <div class="Item">
      <div
        class="ContentItem"
        [class.worker]="participant.uloga !== 'Student'"
        (click)="goTo(participant.id)"
      >
        <img
          loading="lazy"
          [ngSrc]="participant.slika"
          width="30"
          height="30"
        />
        <label>{{ participant.ime }} {{ participant.prezime }}</label>
      </div>
      @if (userService.isWorker()) {
        <app-button
          [title]="'user from course'"
          (query)="delete(participant)"
        ></app-button>
      }
    </div>
  }
</div>
