<div class="Nav">
  <div class="NavHeader">
    @if (
      auth.isAuthenticated() &&
      user.user().fakultet?.logo !== null &&
      user.user().fakultet !== undefined
    ) {
      <img
        [ngSrc]="user.user()?.fakultet?.logo"
        width="40"
        height="40"
        priority
      />
    } @else {
      <h2 class="NavHeaderHeading">AcademiX</h2>
    }
  </div>
  <div class="NavList">
    <a class="NavListItem" routerLinkActive="active" routerLink="home">
      Home
    </a>
    @if (auth.isAuthenticated()) {
      <a class="NavListItem" routerLinkActive="active" routerLink="dashboard">
        Dashboard
      </a>
    }
  </div>
  <div class="NavInfo">
    @if (!auth.isAuthenticated()) {
      <a class="NavInfoLogin" routerLinkActive="active" routerLink="login">
        Login
      </a>
    } @else {
      <app-user-menu
        [user]="user.user()"
        #element
        [(userMenu)]="show"
      ></app-user-menu>
    }
  </div>
</div>
